@font-face {
  src: url("../assets/fonts/museosanscyrl-500.ttf");
  font-family: "Museo Sans Cyrl";
}

@font-face {
  src: url("../assets/fonts/museosanscyrl-700.ttf");
  font-family: "Museo Sans Cyrl Bold";
}
